

<!-- <select ng-model="orderProp">
	<option value="name">Alphabetical</option>
</select> -->

<!-- <div ng-controller="DialogDemoCtrl">
	<div class="row-fluid">

	<p><a href="">Open Batman Bio</a></p>
	
	</div>
	 </div> -->

<h3>Angularjs example of JSON file driven partial views. Based on <a href="https://github.com/angular/angular-seed" target="_blank">angular-seed</a> for best practices (Angular 1.0.6)</h3>
<form name="dropdown">
<select name="list" id="target">
 <option selected>Select a bio</option>
 <option value="/#/bios/batman">Batman</option>
 <option value="/#/bios/bane">Bane</option>
 <option value="/#/bios/aquaman">Aquaman</option>
 <option value="/#/bios/cyborg">Cyborg</option>
 <option value="/#/bios/flash">Flash</option>
 <option value="/#/bios/greenarrow">Greenarrow</option>
 <option value="/#/bios/grundy">Grundy</option>
 <option value="/#/bios/harleyquinn">Harley Quinn</option>
 <option value="/#/bios/hawkgirl">Hawk Girl</option>
 <option value="/#/bios/joker">Joker</option>
 <option value="/#/bios/lex">Lex</option>
 <option value="/#/bios/shazam">Shazam</option>
 <option value="/#/bios/sinestro">Sinestro</option>
 <option value="/#/bios/superman">Superman</option>
 <option value="/#/bios/wonderwoman">Wonder Woman</option>
</select>
<input type="button" value="view it" onclick="goToBioPage(document.dropdown.list)">
</form>


